<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Geo Location</title>
  <link rel="stylesheet" type="text/css" href="geo.css">
</head>
<body>

  <p class="error_msg"></p>
  <button class="geo">Track My Location!</button>
  <br>


  <div>
    <label for="lat">Latitude</label>
    <input type="text" id="lat" name="latitude">
    <label for="long">Longitude</label>
    <input type="text" id="long" name="longitude">
    <button class="get-geo">Location!</button>
  </div>
  <br>
  
 
  

<div>
    <label for="city">Enter The City</label><br>
    <input type="text" id="city" name="city">
    <button class="city" value="submit">submit</button>
    <!-- <input type="submit" name="submit"> -->
</div>

      
  
  
  
  
  <div class="map">
    <img src="">
  </div>
  
  


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="geo_script.js"></script>
</body>
</html>